.wasp/
node_modules/

# Ignore all dotenv files by default to prevent accidentally committing any secrets.
.env
.env.*

# Don't ignore example dotenv files.
!.env.example
!.env.*.example

# Allow specific build files for deployment
!.wasp/build/Dockerfile
!.wasp/build/server/

# Exclude node_modules inside server/ just in case
.wasp/build/server/node_modules/